<a href="https://colab.research.google.com/github/nicatglyv/data/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("My name is "+name+". My age is "+age+"")

What is your name? Nicat
What is your age? 20
My name is Nicat. My age is 20

In [19]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if(a==b):
  print("These numbers are equal")
else:
  print("These numbers are not equal")

These numbers are not equal

In [20]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if(a>b):
  print("First number is greater than Second number")
else:
  print("First number is equal or less than Second number")

First number is equal or less than Second number

In [21]:
#Q4- Using for loop, print 1,2,3,4,5
for i in range(1,6):
  print(i)

1
2
3
4
5

In [22]:
#Q5-Using while loop, print 5,4,3,2,1
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [23]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for i in range(10,-1,-2):
  if (i)!=8:
    print(i)

10
6
4
2
0

In [24]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def age(year):
    return(2022 - year)

print(age(1944))

78

In [25]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    print(x+y)
  def substraction(x,y):
    print(x-y)
  def multiplication(x,y):
    print(x*y)
  def division(x,y):
    print(x/y)

arithmetic.addition(5,8) 
arithmetic.substraction(21,10)
arithmetic.multiplication(2,3)
arithmetic.division(12,3)

13
11
6
4.0

In [26]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n= int(input("n:"))
sum= 0
for a in range(1, n+1):
    sum = sum + a
print(sum)

n:12
78

In [27]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import random
list = []
for i in range(0,10):
  n = random.uniform(0,1)
  list.append(n)
list[:3]

[0.29766683725617316, 0.9361875928753267, 0.4713390121489104]

In [28]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))

n=int(input("n:"))
for a in range(1,n+1):
  if a%3==0:
    print(a)

n:13
3
6
9
12